<!-- Contact -->
<div class="wrapper wrapper-style4">
    <article id="contact" class="container small">
        <header>
            <h2>Want to hire me? Get in touch!</h2>
            <!--<span>Ornare nulla proin odio consequat  sapien vestibulum ipsum sed lorem.</span>-->
        </header>
        <div>
            <div class="row">
                <div class="12u">
                    <form action="https://docs.google.com/forms/d/1ojjOh3DeBChRcFUI4m6LC9EgKAAybGCYQ8PvMQDRR-o/formResponse"
                          method="POST" target="_self">
                        <div>
                            <div class="row half">
                                <div class="6u">
                                    <input type="text" required="true" name="entry.1182757619" id="name"
                                           placeholder="Name"/>
                                </div>
                                <div class="6u">
                                    <input type="text" required="required" name="entry.898393920" id="email"
                                           placeholder="Email"/>
                                </div>
                            </div>
                            <div class="row half">
                                <div class="12u">
                                    <input type="text" name="entry.898393920" id="subject" placeholder="Subject"/>
                                </div>
                            </div>
                            <div class="row half">
                                <div class="12u">
                                    <textarea name="entry.1116915349" required="required" id="message"
                                              placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <input type="submit" class="button" name="submit" value="Send Message">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row row-special">
                <div class="12u">
                    <h3>Find me on ...</h3>
                    <ul class="social">
                        <li class="linkedin"><a
                                href="http://www.linkedin.com/profile/view?id=25662093&trk=nav_responsive_tab_profile"
                                target="_blank"
                                class="icon icon-linkedin"><span>LinkedIn</span></a></li>
                        <li class="github"><a href="https://github.com/ashrafuzzaman" target="_blank"
                                              class="icon icon-github"><span>Github</span></a>
                        <li class="twitter"><a href="https://twitter.com/ashrafuzzaman" target="_blank"
                                               class="icon icon-twitter"><span>Twitter</span></a></li>
                        <li class="googleplus"><a
                                href="https://plus.google.com/104367174527608513550/posts?tab=XX&authuser=0"
                                target="_blank"
                                class="icon icon-google-plus"><span>Google+</span></a></li>
                        </li>
                        <li class="blogger"><a href="http://jitu-blog.blogspot.com/" class="icon icon-blogger"
                                               target="_blank"><span>Blogger</span></a></li>
                        <!--
                        <li class="rss"><a href="#" class="icon icon-rss"><span>RSS</span></a></li>
                        <li class="instagram"><a href="#" class="icon icon-instagram"><span>Instagram</span></a></li>
                        <li class="foursquare"><a href="#" class="icon icon-foursquare"><span>Foursquare</span></a></li>
                        <li class="skype"><a href="#" class="icon icon-skype"><span>Skype</span></a></li>
                        <li class="soundcloud"><a href="#" class="icon icon-soundcloud"><span>Soundcloud</span></a></li>
                        <li class="youtube"><a href="#" class="icon icon-youtube"><span>YouTube</span></a></li>
                        <li class="blogger"><a href="#" class="icon icon-blogger"><span>Blogger</span></a></li>
                        <li class="flickr"><a href="#" class="icon icon-flickr"><span>Flickr</span></a></li>
                        <li class="vimeo"><a href="#" class="icon icon-vimeo"><span>Vimeo</span></a></li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <p id="copyright">
                &copy; A.K.M. Ashrafuzzaman | Design: <a
                    href="http://html5up.net/">HTML5 UP</a>
            </p>
        </footer>
    </article>
</div>