---
export interface Props {
  experience: any;
}

const { experience } = Astro.props;
const { title, company, brief } = experience;
---

<div class="break-inside-avoid-column">
  <h2 class="mt-2 font-[500]">{title}</h2>
  <h4 class="font-[500]">{company}</h4>
  {brief ? <p>{brief}</p> : ""}
</div>
