---
export interface Props {
  skill: any;
}

const { skill } = Astro.props;
const { title, items } = skill;
---

<div class="break-inside-avoid">
  <h4 class="mt-2 p-1 font-semibold bg-[#E1D0B2]">{title}</h4>
  <ul>
    {skill.items.map(item => <li class="p-0 m-0">{item}</li>)}
  </ul>
</div>
