---
export interface Props {
  skill: any;
}

const { skill } = Astro.props;
const { title, items } = skill;
---

<div class="break-inside-avoid">
  <h4 class="skill-title">
    {title}
  </h4>
  <ul>
    {skill.items.map(item => <li class="skill-item">{item}</li>)}
  </ul>
</div>
