---
export interface Props {
  skill: any;
}

const { skill } = Astro.props;
const { title, items } = skill;
---

<div class="break-inside-avoid">
  <h4 class="mb-2">{title}</h4>
  <ul>
    {skill.items.map(item => <li class="m-0 p-0 leading-normal">{item}</li>)}
  </ul>
</div>
