<!DOCTYPE HTML>
<html>
<head>
    <title>{{ site.name }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/skel.min.js"></script>
    <noscript>
        <link rel="stylesheet" href="css/skel-noscript.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/style-desktop.css"/>
    </noscript>
    <link rel="stylesheet" href="css/css3-progress-bar.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/css3-progress-bar-ie.css"/>
    <link rel="stylesheet" href="css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" href="css/ie8.css"/><![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" href="css/ie7.css"/><![endif]-->
</head>
<body>
<!-- Nav -->
<nav id="nav">
    <ul class="container">
        <li><a href="#top">Top</a></li>
        <li><a href="#skill">Skill</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<!-- Home -->
<div class="wrapper wrapper-style1 wrapper-first">
    <article class="container" id="top">
        <div class="row">
            <div class="4u">
                <!--<span class="me image image-full"><img src="{{site.gravatar}}" alt=""/></span>-->
                <span class="me image image-full"><img src="images/me.png" alt=""/></span>
            </div>
            <div class="8u">
                <header>
                    <h1>{{ site.name }}</h1>
                </header>

                {% include home.html %}
                <a href="#skill" class="button">My expertise</a>
            </div>
        </div>
    </article>
</div>
{% include skill.html %}
{% include portfolio.html %}
{% include contact.html %}

</body>
</html>