---
import RevealInitializer from "@components/slide/RevealInitializer.astro";
import "@styles/presentation.css";
import getPageNumbers from "@utils/getPageNumbers";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const slides = await getCollection("slides");

  const slideResult = slides.map(slide => ({
    params: { slug: slide.slug },
    props: { slide },
  }));

  const pagePaths = getPageNumbers(slides.length).map(pageNum => ({
    params: { slug: String(pageNum) },
  }));

  return [...slideResult, ...pagePaths];
}

const { slug } = Astro.params;
const slideEntry = await getEntry("slides", slug);
const { title } = slideEntry.data;
---

{
  slideEntry && (
    <html>
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <meta name="title" content={title} />
      </head>

      <body>
        <div class="reveal">
          <div class="slides">
            <section data-markdown data-separator="---">
              <script type="text/template" set:html={slideEntry.body} />
            </section>
          </div>
        </div>

        <RevealInitializer />
      </body>
    </html>
  )
}
