---
import RevealInitializer from "@components/slide/RevealInitializer.astro";
import getPageNumbers from "@utils/getPageNumbers";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const slides = await getCollection("slides");

  const slideResult = slides.map(slide => ({
    params: { slug: slide.slug },
    props: { slide },
  }));

  const pagePaths = getPageNumbers(slides.length).map(pageNum => ({
    params: { slug: String(pageNum) },
  }));

  return [...slideResult, ...pagePaths];
}

const { slug } = Astro.params;
const slideEntry = await getEntry("slides", slug);
---

{
  slideEntry && (
    <html>
      <body>
        <div class="reveal">
          <div class="slides">
            <section data-markdown data-separator="---">
              <script type="text/template" set:html={slideEntry.body} />
            </section>
          </div>
        </div>

        <RevealInitializer />
      </body>
    </html>
  )
}
